.vs
Core\CleanArch.Core.Application\bin
Core\CleanArch.Core.Application\Obj
Core\CleanArch.Core.Domain\bin
Core\CleanArch.Core.Domain\Obj
Core\CleanArch.Core.Application\bin
Core\CleanArch.Core.Application\Obj
Infrastructure\CleanArch.Infrastructure.Data\bin
Infrastructure\CleanArch.Infrastructure.Data\Obj
Infrastructure\CleanArch.Infrastructure.Data\bin
Infrastructure\CleanArch.Infrastructure.Data\Obj
Presentation\CleanArch.MVCUI\bin
Presentation\CleanArch.MVCUI\obj
Presentation\CleanArch.API\bin
Presentation\CleanArch.API\obj
Test\CleanArch.UnitTest\bin
Test\CleanArch.UnitTest\Obj
Core\CleanArch.Core.Domain\Models\Draft
Presentation\CleanArch.RazorPageUI\bin
Presentation\CleanArch.RazorPageUI\obj