<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2> MVC Draft</h2>
    <div style="border-top:solid 2px red;">
        @RenderBody()
    </div>
</body>
</html>
